.reveal section{
    height: 100%;
}

.reveal .hide{
  display:none;
}

.reveal .slides h2{
  margin-bottom: 1em;
}

.reveal .slides h3{
  text-align: left;
  margin-bottom: 0.8em;
}

.reveal .slides p{
  text-align: left;
  margin-bottom: 1em;
}

.reveal .slides ul{
  list-style-type: square;
}

.reveal section img{
  border: none;
  box-shadow: none;
}

.reveal .slides p.center{
  text-align: center;
}

.reveal .slides p.comment{
  font-size: 90%;
  color: #999;
}
.reveal .credits img{
    display: block;
}
.reveal p.credits{
  color: #ccc;
  font-size: 10px;
  text-align: right;
}

.reveal .layout-two{
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 align-content: center;
}

.reveal .layout-two pre {
  width: auto;
}

.reveal pre code {
  color: inherit;
  background: inherit;
}

.reveal .warn{
    color: red;
}

.reveal table{
    font-size: 0.62em;
}

#searchinputdiv{
    display: none;
}

.reveal.overview #searchinputdiv{
    display: block;
}

.reveal section.summary{
  background-image: url('../images/common/summary.jpg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 100%;
  width: 100%;
}

.reveal .slides section div.output{
  max-height: 400px;
  margin: 0 auto;
  overflow: auto;
  padding: 0;
  margin: 0 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.reveal .slides section div.output.popup{
  top:0;
  left:0;
  position: absolute;
  width: 100%;
  max-height: 100%;
}


div.output.popup table{
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
  
.reveal ol li{
    margin-bottom: 0.8em;
}

.reveal ol li ul li {
    font-size: 0.8em;
    list-style-type: none;
}

.reveal .slides p.small, .reveal .slides .small li{
    font-size: 0.8em;
}

.output.error{
  background-color: red;
  color: white;
  height:auto;
  width: 90%;
}

.reveal .left{
    position: absolute;
    left: 0;
}


.reveal .no-margin{
    margin: 0 !important;
}

.reveal .right{
    position: absolute;
    right: 0;
}
.reveal .top{
    position: absolute;
    top:0;
}
.reveal .bottom{
    position: absolute;
    bottom: 20px;
}
.reveal .w-33{
    width: 33%;
}
.reveal .w-50{
    width: 50%;
}
.reveal .w-66{
    width: 66%;
}

pre.float + .output{
    position:absolute;
    top: 15%;
    right:0;
}

.output table {
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 18px;
    line-height: 18px;
    word-spacing: 10px;
    color: #444;
    background-color: rgba(255,255,255,0.8);
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    margin: 0 18px;
    
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}
.output > div{
    margin: 0 auto;
}

.output table tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.output table td, .output table th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 4px;
    text-align: left;    
}

.output table th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.output table td:first-child, .output table th:first-child {
    border-left: none;
}

.output table th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.output table th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.output table th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.output table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.output table tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

pre div.run:hover{
  opacity: 1;
}

pre div.run{
  opacity: 0;
  background-color: red;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding: 2px 6px;
  cursor: pointer;
  transition: all 0.5s;
}

pre .hljs-keyword{
  font-weight: bold;
}
pre .hljs-comment{
  color: #006a00;
}