body {
    font-size: 0.6em;
    margin: 0 1cm;
    padding: 0;
    font-family: 'Lato Light';
    color: green;
}

h1, h2, h3, strong{
  font-family: 'Lato Semibold';
  color: red;
}

h1, h2, h3{
  page-break-after: avoid;
  clear: both;
}

h1, h2, h4{
  text-align: center;
}

h3{
  margin-top: 2em;
}

blockquote{
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.hide{
  display:none;
}

.warn{
  color: red;
}

.w-100{
    width: 100%;
}

.w-80{
    width: 80%;
}


.w-75{
    width: 75%;
}

.w-66{
    width: 66%;
}

.w-60{
    width: 60%;
}

.w-50{
    width: 49%;
}

.w-40{
    width: 40%;
}

.w-33{
    width: 33%;
}

.w-30{
    width: 30%;
}

.w-25{
    width: 25%;
}

.w-20{
    width: 20%;
}

.float-left{
    width: auto;
}
.float-right{
    width: auto;
}

.pdf-w-30{
  width: 30%;
}

.pdf-w-30 img{
  width: 100%;
}

.pdf-float-left{
  float: left;
}

img{
  max-width: 80%;
  margin: 0 auto;
  display: block;
}

p.w-50{
  display: inline-block;
}

.inline-block, .left{
  display: inline-block;
}

.layout-two{
    margin: 1em 0;
    padding:0;
    clear: both;
}

.layout-two:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
.layout-two pre{
  width: 60%;
  float: left;
}
.layout-two .output{
    float:right;
    width: 34%;
}

.nopdf, pre.nopdf, p.nopdf, table.nopdf{
    display: none;
}

.sql-title{
    margin:0;
    padding:0;
    font-size: 0.9em;
}

/* fix for page-break-inside https://github.com/ariya/phantomjs/issues/10638 */
pre{
  padding-left: 0.5em;
  border: 0;
  border-left: 5px solid #999;
  font-size: 0.9em;
  background-color: #EDEFF2;
  margin: 0 0 1em 0;
  display: inline-block;
  min-width: 60%;
}
pre:after{
  content: '';
  display:block;
  height:0px;
  visibility: hidden;
}

.hljs-keyword{
  font-weight: bold;
}
.hljs-comment{
  color: #006a00;
}

table {
    font-family: 'Consolas', 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 0.8em;
    color: #000;
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    border: solid #aaa 1px;
    margin-bottom: 1em;
}

table tr:hover {
    background: #fbf8e9;
}

table td, table th {
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    padding: 0 2px;
    text-align: left;
}

table th {
    background-color: #dce9f9;
    border-top: none;
}

table td:first-child, table th:first-child {
    border-left: none;
}