body {
    font-size: 1.1em;
    margin: 0 1cm;
    padding: 0;
    font-family: 'Lato Light';
    color: #000;
}

h1, h2, h3, strong{
  font-family: 'Lato Semibold';
}

h1, h2{
  text-align: center;
}

h3{
  margin-top: 2em;
}

.hide{
  display:none;
}

.warn{
  color: red;
}

.w-100{
    width: 100%;
}

.w-75{
    width: 75%;
}

.w-66{
    width: 66%;
}

.w-50{
    width: 49%;
}

.w-33{
    width: 33%;
}

.w-25{
    width: 25%;
}

img{
  max-width: 80%;
  margin: 0 auto;
  display: block;
}

p.w-50{
  display: inline-block;
}

.layout-two{
    margin: 1em 0;
    padding:0;
    clear: both;
}

.layout-two:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
.layout-two pre{
  width: 60%;
  float: left;
  margin-right: 3em;
}
.layout-two table{
    float: right;
}

.nopdf, pre.nopdf, p.nopdf, table.nopdf{
    display: none;
}
  
pre{
  padding-left: 0.5em;
  border: 0;
  border-left: 5px solid #999;
  font-size: 0.9em;
  background-color: #EDEFF2;
  margin: 0 0 1em 0;
}

.hljs-keyword{
  font-weight: bold;
}
.hljs-comment{
  color: #006a00;
}

table {
    font-family: 'Consolas', 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 0.8em;
    color: #000;
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    border: solid #aaa 1px;
}

table tr:hover {
    background: #fbf8e9;  
}    
    
table td, table th {
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    padding: 0 2px;
    text-align: left;    
}

table th {
    background-color: #dce9f9;
    border-top: none;
}

table td:first-child, table th:first-child {
    border-left: none;
}