<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title><%= title %></title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="bower_components/animate-css/animate.min.css">
        <link rel="stylesheet" href="bower_components/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="bower_components/reveal.js/css/theme/simple.css" id="theme">
        <link rel="stylesheet" href="css/custom.css">
        <style>
        @import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Hind:400,700|Open+Sans:400,400i,700');
        </style>

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
          if( window.location.search.match( /print-pdf/gi ) ) {
            var link = document.createElement( 'link' );
                link.rel = 'stylesheet';
                link.type = 'text/css';
                link.href = 'bower_components/reveal.js/css/print/pdf.css';
                document.getElementsByTagName( 'head' )[0].appendChild( link );
            }
        </script>

        <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="reveal">
            <div class="slides" id="slidecontent">
                <% _.forEach(slides, function(slide) { %>
                    <% if (!_.isArray(slide)) { %>
                        <%= section(slide) %>
                    <% } %>
                    <% if (_.isArray(slide)) { %>
                        <section>
                            <% _.forEach(slide, function(verticalslide) { %>
                                <%= section(verticalslide) %>
                            <% }); %>
                        </section>
                    <% } %>
                <% }); %>
            </div>
        </div>

        <script src="bower_components/reveal.js/lib/js/head.min.js"></script>
        <script src="bower_components/reveal.js/js/reveal.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/draggabilly/dist/draggabilly.pkgd.min.js"></script>
        <script>
            // Configure Reveal
            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                slideNumber: true,
                history: true,
                center: false,
                // Turns fragments on and off globally
                fragments: true,
                // Apply a 3D roll to links on hover
                rollingLinks: false,
                // Opens links in an iframe preview overlay
                previewLinks: false,
                theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none
                // Transition speed
                transitionSpeed: 'fast', // default/fast/slow
                // Transition style for full page slide backgrounds
                backgroundTransition: 'fade', // none/fade/slide/convex/concave/zoom
                postMessage: true,
                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: 'bower_components/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: 'js/loadhtmlslides.js', condition: function() { return !!document.querySelector( '[data-html]' ); }},
                    { src: 'bower_components/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'js/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'bower_components/reveal.js/plugin/highlight/highlight.js', async: true, condition: function() { return true; }, callback: function() {
                      jQuery('pre code').each(function(idx, item){
                          if($(this).parent().hasClass('parse-fragment')){
                            $(this).html($(this).text());
                          }
                          hljs.highlightBlock(this);
                      });
                    } },
                    { src: 'bower_components/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
                    { src: 'bower_components/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
                    { src: 'bower_components/reveal.js/plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; }},
                    //{ src: 'bower_components/reveal.js/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
                    { src: 'js/jsbin-embed.js', async: false },
                    { src: 'js/sqltomarkdown.js', async: false },
                    { src: 'js/sqlquery.js', async: false, callback: function(){SQLQuery.init();} },
                    { src: 'js/toc.js', async: false}
                ]
            });


            $(document).ready(function () {
              var title = document.title;
              Reveal.addEventListener("slidechanged",function(event){
                var fullTitle = title + ': ' + $(event.currentSlide).find('h1, h2, h3').first().text()
                document.title = fullTitle;
                ga('send', 'pageview', {
                  'page': window.location.pathname + window.location.search + '#' + event.indexh + '/' + event.indexv,
                  'title': fullTitle
                });
              });
            });
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-55173430-3', 'auto');
          ga('send', 'pageview');

        </script>
    </body>

</html>
